<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <h2>CRUD com NodeJS</h2>
    
    <a href="#" class="nav-link"><%= UsernamePag %></a>
  
    <a href="/" class="nav-link">Menu</a>
    <a href="/login" class="nav-link">Login</a>
  </div>
  
</nav>
