<!DOCTYPE html>
<%- include('partials/head.ejs')  %>
<body>
  <%- include('partials/navbar.ejs')  %>
  <h1>Consulta</h1>

  
     <p> <%= variavel.dataValues.nome %> </p>
   

</body>
<%- include('partials/footer.ejs')  %>
</html>