<!DOCTYPE html>
<html lang="pt-br">
  <%- include('./partials/head') %>
  <body>
    <%- include('./partials/navbar')%>
    <br />
    <div class="container">
      <h2>Menu</h2>
      <hr />
      <div class="divPessoas">
        <h3>Pessoas</h3>
        <a href="/pessoas/cadastro">
          <input
            type="button"
            class="btn btn-outline-success"
            value="Cadastrar"
        /></a>
        &nbsp;
        <a href="/pessoas/consulta">
          <input
            type="button"
            class="btn btn-outline-success"
            value="Consultar"
        /></a>
      </div>
      <hr />
      <div class="divProdutos">
        <h3>Produtos</h3>
        <a href="/produtos/cadastro">
          <input
            type="button"
            class="btn btn-outline-success"
            value="Cadastrar"
        /></a>
        &nbsp;
        <a href="/produtos/consulta">
          <input
            type="button"
            class="btn btn-outline-success"
            value="Consultar"
        /></a>
        <a href="/produtos/consultaAll">
          <input
            type="button"
            class="btn btn-outline-success"
            value="Consultar todos os Produtos"
        /></a>
      </div>
      &nbsp;
      <hr />
      <div class="divUnidades">
        <h3>Unidades</h3>
        <a href="/unidades/consulta">
          <input
            type="button"
            class="btn btn-outline-success"
            value="Consultar"
        /></a>
      </div>
    </div>
  </body>
  <%- include('./partials/footer') %>
</html>
