<!DOCTYPE html>
<html lang="pt-br">
  <%- include('./partials/head') %>
  <body>
    <%- include('./partials/navbar')%>
    <br />
    <div class="container">
      <h2>Menu</h2>
      <a href="cadastro">
        <input type="button" class="btn btn-outline-success" value="Cadastrar"
      /></a>
      <a href="consulta">
        <input type="button" class="btn btn-outline-success" value="Consultar"
      /></a>
    </div>
  </body>
  <%- include('./partials/footer') %>
</html>
