<!DOCTYPE html>
<html lang="pt-br">
  <%- include('./partials/head') %>
  <body>
    <%- include('./partials/navbar')%>
    <div>
      <h1>Crud</h1>
      <p>Crud em Node JS</p>
    </div>
  </body>
  <%- include('./partials/footer') %>
</html>
