<!DOCTYPE html>
<html lang="pt-br">
  <%- include ('../partials/head') %>
  <body>
    <%- include('../partials/navbar') %>
    <div class="form-control">
      <h1>Consulta de Unidades</h1>
      <% items.forEach(item =>{ %>
      <div class="table-striped">
        <table class="table-striped">
          <tr>
            <td><%= item.local %></td>
            <td><%= item.numeroFuncionarios %></td>
            <td>
              <a href="/unidades/editar"
                ><button class="btn btn-warning">editar</button></a
              >
            </td>
            <td>
              <a href="/"><button class="btn btn-danger">deletar</button></a>
            </td>
          </tr>
        </table>
      </div>

      <% })%>
    </div>
  </body>
</html>
