<!DOCTYPE html>
<html lang="pt-br">
  <%- include ('../partials/head') %>
  <body>
    <%- include('../partials/navbar') %>
    <div class="form-control">
      <h1>Cadastro de Unidades</h1>

      <form action="/cadastrarUnidade" method="post" class="form-control">
        <input type="text" class="form-control" placeholder="Digite o local" />
        <br />
        <input
          type="text"
          class="form-control"
          placeholder="Digite o numero de funcionarios"
        />
        <br />
        <button class="btn btn-success">Cadastrar</button>
      </form>
    </div>
  </body>
</html>
