<!DOCTYPE html>
<html lang="pt-br">
  <%- include ('../partials/head') %>
  <body>
    <%- include('../partials/navbar') %>
    <div class="container">
      <div class="card">
        <div class="card-head">
          <h1>Editar Unidade</h1>
        </div>
        <div class="form-body">
          <form action="/cadastrarUnidade" method="post">
            <input
              type="text"
              class="form-control"
              placeholder="Digite o local"
              name="Ilocal"
            />
            <br />
            <input
              type="text"
              class="form-control"
              placeholder="Digite o numero de funcionarios"
              name="InumFunc"
            />
            <br />
            <button type="submit" class="btn btn-success">Cadastrar</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
